body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto; /* add this line to center horizontally */
}

.form-container {
    background-color: #f5f5f5;
    padding: 32px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px; /* add this line to set max width */
    margin: auto;
}
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.form-label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #0a66c2;
}

.form-input {
    display: block;
    border: 1px solid #c6d0dc;
    border-radius: 4px;
    padding: 12px;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 100%;
}

.form-input:focus {
    outline: none;
    border-color: #0a66c2;
    box-shadow: 0 0 0 0.2rem rgba(10, 102, 194, 0.25);
}

.form-select {
    border: 1px solid #c6d0dc;
    border-radius: 4px;
    padding: 12px;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    appearance: none;
    background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M7.41 8.59L12 13.17l4.59-4.58L18 9l-6 6-6-6 1.41-1.41z" fill="%23333"/></svg>')
    no-repeat right 12px center/18px 18px;
}
.form-select {
    appearance: none;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 4px;
    color: #495057;
    cursor: pointer;
    font-size: 1rem;
    padding: 12px;
    width: 100%;
    margin-bottom: 16px;
}

.form-select:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    outline: none;
}

.form-select option {
    background-color: #fff;
    color: #495057;
}

.form-button {
    background-color: #0a66c2;
    border: none;
    border-radius: 24px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 24px;
    transition: background-color 0.15s ease-in-out;
}

.form-button:hover {
    background-color: #004182;
}